<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.member.mapper.MerchantsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.member.pojo.Merchants">
        <id column="merchant_id" property="merchantId" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="email" property="email" />
        <result column="mobile" property="mobile" />
        <result column="business_name" property="businessName" />
        <result column="business_category" property="businessCategory" />
        <result column="business_license" property="businessLicense" />
        <result column="avatar_url" property="avatarUrl" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        merchant_id, username, password, email, mobile, business_name, business_category, business_license, avatar_url, created_time, updated_time
    </sql>

</mapper>
